includes:
  - vendor/codeigniter/phpstan-codeigniter/extension.neon
  - phpstan-baseline.neon

parameters:
  level: 5
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
    - tests
  tmpDir: var/phpstan
  bootstrapFiles:
    - vendor/codeigniter4/framework/system/Test/bootstrap.php
    - tests/bootstrap.php
  excludePaths:
    - src/Views/*
  scanDirectories:
    - vendor/codeigniter4/framework/system/Helpers
    - src/Helpers
  codeigniter:
    additionalConfigNamespaces:
      - Dex\Config
    additionalServices:
      - Dex\Config\Services
