<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  backupGlobals="false"
  beStrictAboutOutputDuringTests="true"
  colors="true"
  cacheDirectory=".phpunit.cache"
  executionOrder="random"
  failOnRisky="true"
  failOnWarning="true"
>
  <php>
  </php>
  <testsuites>
    <testsuite name="Dex">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
