<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  bootstrap="tests/bootstrap.php"
  colors="true"
  cacheDirectory=".phpunit.cache"
>
  <php>
    <env name="MINISENTRY_USE_CI_BOOTSTRAP" value="1"/>
  </php>
  <testsuites>
    <testsuite name="Dex">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
